# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

#Ввод данных региона
CITY_NAME=YOUR_CITY_NAME
CITY_UUID=YOUR_CITY_UUID

#Конфигурация для настройки прокси
PROXIES=YOUR_PROXIES

# User Agent
USER_AGENT=YOUR_USER_AGENT
